<form method="post" action="{{ path('app_recette_categorie_delete', {'id': recette_categorie.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ recette_categorie.id) }}">
    <button class="btn">Delete</button>
</form>
