{% extends 'base.html.twig' %}

{% block title %}Edit RecetteCategorie{% endblock %}

{% block body %}
    <h1>Edit RecetteCategorie</h1>

    {{ include('recette_categorie/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_recette_categorie_index') }}">back to list</a>

    {{ include('recette_categorie/_delete_form.html.twig') }}
{% endblock %}
