{% extends 'base.html.twig' %}

{% block title %}RecetteCategorie index{% endblock %}

{% block body %}
    <h1>RecetteCategorie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for recette_categorie in recette_categories %}
            <tr>
                <td>{{ recette_categorie.id }}</td>
                <td>{{ recette_categorie.name }}</td>
                <td>
                    <a href="{{ path('app_recette_categorie_show', {'id': recette_categorie.id}) }}">show</a>
                    <a href="{{ path('app_recette_categorie_edit', {'id': recette_categorie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_recette_categorie_new') }}">Create new</a>
{% endblock %}
