{% extends 'base.html.twig' %}

{% block title %}New RecetteCategorie{% endblock %}

{% block body %}
    <h1>Create new RecetteCategorie</h1>

    {{ include('recette_categorie/_form.html.twig') }}

    <a href="{{ path('app_recette_categorie_index') }}">back to list</a>
{% endblock %}
