{% extends 'base.html.twig' %}

{% block title %}RecetteCategorie{% endblock %}

{% block body %}
    <h1>RecetteCategorie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ recette_categorie.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ recette_categorie.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_recette_categorie_index') }}">back to list</a>

    <a href="{{ path('app_recette_categorie_edit', {'id': recette_categorie.id}) }}">edit</a>

    {{ include('recette_categorie/_delete_form.html.twig') }}
{% endblock %}
