{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
</style>

<div class="example-wrapper" style="display: flex; align-items: center; flex-direction: column">
    <div>
        <h1>🥑 Guacamole 🥑</h1>
        <img src="{{ asset('img/guacamole.jpeg') }}" alt="Tarte au citron" style="width: 500px">
    </div>
    <div>
        Ustensile :
        <ul>
            <li>Un cul de poule</li>
            <li>Un fouet</li>
            <li>Une fourchette</li>
        </ul>
    </div>
    <div>
        Ingrédients:
        <ul>
            <li>
                Avocats
            </li>
            <li>
                Tomate
            </li>
            <li>
                Piment
            </li>
            <li>
                4 épices
            </li>
            <li>
                Citron vert
            </li>
            <li>
                Sel/Poivres
            </li>
        </ul>
    </div>
    <button onclick="showRecipe()">Afficher la recette</button>
    <div id="ingredientTxt" style="display: none">
        <p>
            Coupez les avocats en 2 dans le sens de la longueur. Ôtez les noyaux et gardez-les.
        </p>
        <p>
            Enlevez la chair avec une cuillére à soupe, et écrasez-la à la fourchette, ne laissez pas de gros morceaux.
        </p>
        <p>
            Coupez les tomates en petit dés
        </p>
        <p>
            Assaisonnez avec tout ce qui reste
        </p>
    </div>
    <a href="{{ path('index') }}">Retourner a l'index </a>
</div>
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}
