{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
</style>

<div class="example-wrapper" style="display: flex; align-items: center; flex-direction: column">
    <div>
        <h1>🥧 Tarte au citron meringuée 🥧</h1>
        <img src="{{ asset('img/tarteCitron.png') }}" alt="Tarte au citron" style="width: 500px">
    </div>
    <div>
        Ustensile :
        <ul>
            <li>Un robot pâtissier</li>
            <li>Une feuille</li>
            <li>Une casserole</li>
            <li>Un fouet</li>
            <li>Des tupperwares</li>
            <li>Un cul de poule</li>
            <li>Un thermomètres</li>
            <li>Un moule à tarte</li>
            <li>Un four</li>
        </ul>
    </div>
    <div>
        Ingrédients:
        <ul>
            <li>
                Pate sucrée :
                <ul>
                    <li>125 g de beurre demi-sel</li>
                    <li>250 g de farine</li>
                    <li>30 g de poudre d'amande</li>
                    <li>80 g de sucre glace</li>
                    <li>1 pincée de sel</li>
                    <li>1 oeuf</li>
                </ul>
            </li>
            <li>
                Crème citron :
                <ul>
                    <li>100 g de beurre demi-sel</li>
                    <li>3 citrons non traités</li>
                    <li>6 oeufs</li>
                    <li>300 g de sucre</li>
                </ul>
            </li>
            <li>
                Meringue a l'italienne :
                <ul>
                    <li> 3 blancs d'oeufs</li>
                    <li>1 pincée de sel</li>
                    <li>60 g de sucre glace</li>
                </ul>
            </li>
        </ul>
    </div>
    <button onclick="showRecipe()">Afficher la recette</button>
    <div id="ingredientTxt" style="display: none">
        <h3>
            Étape 1 : Pâte à tarte
        </h3>
        <p>
            Mettez le beurre en dés dans la cuve du robot muni du crochet avec la farine, la poudre d’amande, le sucre glace et le sel. Faites fonctionner l’appareil à vitesse modérée. Lorsque le mélange s’émiette, ajoutez l’œuf et laissez tourner pendant 5 min. Arrêtez l’appareil dès que la pâte forme une boule. Mettez-la au réfrigérateur pour 1 h.
        </p>
        <h3>
            Étape 2 : Crème citron
        </h3>
        <p>
            Pendant ce temps, faites fondre le beurre. Lavez les citrons, râpez leur zeste et pressez-les. Mettez les œufs, le sucre, le jus et le zeste des citrons et le beurre fondu dans la cuve propre. Munissez le robot du fouet et faites-le fonctionner à vitesse moyenne jusqu’à ce que le mélange soit homogène.
            Préchauffez le four à 210 °C (th. 7).
            Beurrez un moule à tarte de 28 cm de diamètre. Étalez la pâte à tarte froide sur 4 mm d’épaisseur à l’aide d’un rouleau à pâtisserie, garnissez-en le moule et piquez-la à la fourchette. Couvrez de papier sulfurisé et de haricots secs, mettez au four et laissez cuire à blanc pendant 15 min. Retirez le papier et les haricots. Versez la préparation au citron sur le fond de tarte et poursuivez la cuisson pendant 25 min à 180 °C (th. 6).
        </p>
        <h3>
            Étape 3 : Meringue
        </h3>
        <p>
            Mettez les blancs d’œufs avec le sel dans la cuve du robot muni du fouet. Faites-le fonctionner à vitesse maximale jusqu’à ce que les blancs montent. Ajoutez alors le sucre tout en continuant à fouetter.
            Lorsque la tarte est cuite, recouvrez-la de meringue, remettez au four quelques minutes jusqu’à ce que la meringue blondisse.

        </p>
    </div>
    <a href="{{ path('index') }}">Retourner a l'index</a>
</div>
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}
