{% extends 'base.html.twig' %}

{% block title %}Edit RelRecetteInstructions{% endblock %}

{% block body %}
    <h1>Edit RelRecetteInstructions</h1>

    {{ include('rel_recette_instructions/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_rel_recette_instructions_index') }}">back to list</a>

    {{ include('rel_recette_instructions/_delete_form.html.twig') }}
{% endblock %}
