{% extends 'base.html.twig' %}

{% block title %}RelRecetteInstructions index{% endblock %}

{% block body %}
    <h1>RelRecetteInstructions index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ordre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rel_recette_instruction in rel_recette_instructions %}
            <tr>
                <td>{{ rel_recette_instruction.id }}</td>
                <td>{{ rel_recette_instruction.ordre }}</td>
                <td>
                    <a href="{{ path('app_rel_recette_instructions_show', {'id': rel_recette_instruction.id}) }}">show</a>
                    <a href="{{ path('app_rel_recette_instructions_edit', {'id': rel_recette_instruction.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_rel_recette_instructions_new') }}">Create new</a>
{% endblock %}
