{% extends 'base.html.twig' %}

{% block title %}New RelRecetteInstructions{% endblock %}

{% block body %}
    <h1>Create new RelRecetteInstructions</h1>

    {{ include('rel_recette_instructions/_form.html.twig') }}

    <a href="{{ path('app_rel_recette_instructions_index') }}">back to list</a>
{% endblock %}
