{% extends 'base.html.twig' %}

{% block title %}RelRecetteInstructions{% endblock %}

{% block body %}
    <h1>RelRecetteInstructions</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rel_recette_instruction.id }}</td>
            </tr>
            <tr>
                <th>Ordre</th>
                <td>{{ rel_recette_instruction.ordre }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_rel_recette_instructions_index') }}">back to list</a>

    <a href="{{ path('app_rel_recette_instructions_edit', {'id': rel_recette_instruction.id}) }}">edit</a>

    {{ include('rel_recette_instructions/_delete_form.html.twig') }}
{% endblock %}
