{% extends 'base.html.twig' %}

{% block title %}Edit RecetteSousCategorie{% endblock %}

{% block body %}
    <h1>Edit RecetteSousCategorie</h1>

    {{ include('recette_sous_categorie/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_recette_sous_categorie_index') }}">back to list</a>

    {{ include('recette_sous_categorie/_delete_form.html.twig') }}
{% endblock %}
