{% extends 'base.html.twig' %}

{% block title %}RecetteSousCategorie index{% endblock %}

{% block body %}
    <h1>RecetteSousCategorie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for recette_sous_categorie in recette_sous_categories %}
            <tr>
                <td>{{ recette_sous_categorie.id }}</td>
                <td>{{ recette_sous_categorie.name }}</td>
                <td>
                    <a href="{{ path('app_recette_sous_categorie_show', {'id': recette_sous_categorie.id}) }}">show</a>
                    <a href="{{ path('app_recette_sous_categorie_edit', {'id': recette_sous_categorie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_recette_sous_categorie_new') }}">Create new</a>
{% endblock %}
