{% extends 'base.html.twig' %}

{% block title %}New RecetteSousCategorie{% endblock %}

{% block body %}
    <h1>Create new RecetteSousCategorie</h1>

    {{ include('recette_sous_categorie/_form.html.twig') }}

    <a href="{{ path('app_recette_sous_categorie_index') }}">back to list</a>
{% endblock %}
