{% extends 'base.html.twig' %}

{% block title %}RecetteSousCategorie{% endblock %}

{% block body %}
    <h1>RecetteSousCategorie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ recette_sous_categorie.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ recette_sous_categorie.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_recette_sous_categorie_index') }}">back to list</a>

    <a href="{{ path('app_recette_sous_categorie_edit', {'id': recette_sous_categorie.id}) }}">edit</a>

    {{ include('recette_sous_categorie/_delete_form.html.twig') }}
{% endblock %}
