{% extends 'base.html.twig' %}

{% block title %}Recette{% endblock %}

{% block body %}
    <h1>Recette</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ recette.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ recette.name }}</td>
            </tr>
            <tr>
                <th>Temps_preparation</th>
                <td>{{ recette.tempsPreparation }}</td>
            </tr>
            <tr>
                <th>Temps_cuisson</th>
                <td>{{ recette.tempsCuisson }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_recette_index') }}">back to list</a>

    <a href="{{ path('app_recette_edit', {'id': recette.id}) }}">edit</a>

    {{ include('recette/_delete_form.html.twig') }}
{% endblock %}
