{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<div  style="display: flex; align-items: center; flex-direction: column">
    <h1>📚 Index des recettes 📚</h1>
    <a href="{{ path('recipe', { 'recipe': 'index' }) }}">
        <img src="{{ asset('img/tarteCitron.png') }}" alt="Tarte au citron" style="width: 500px">
        <p>Tarte au citron meringuée</p>
    </a>
    <a href="{{ path('recipe', { 'recipe': 'guacamole' }) }}">
        <img src="{{ asset('img/guacamole.jpeg') }}" alt="Tarte au citron" style="width: 500px">
        <p>Guacamole</p>
    </a>
</div>

{% endblock %}
