{% extends 'base.html.twig' %}

{% block title %}Edit RelRecetteIngredients{% endblock %}

{% block body %}
    <h1>Edit RelRecetteIngredients</h1>

    {{ include('rel_recette_ingredients/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_rel_recette_ingredients_index') }}">back to list</a>

    {{ include('rel_recette_ingredients/_delete_form.html.twig') }}
{% endblock %}
