{% extends 'base.html.twig' %}

{% block title %}RelRecetteIngredients index{% endblock %}

{% block body %}
    <h1>RelRecetteIngredients index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantite</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rel_recette_ingredient in rel_recette_ingredients %}
            <tr>
                <td>{{ rel_recette_ingredient.id }}</td>
                <td>{{ rel_recette_ingredient.quantite }}</td>
                <td>
                    <a href="{{ path('app_rel_recette_ingredients_show', {'id': rel_recette_ingredient.id}) }}">show</a>
                    <a href="{{ path('app_rel_recette_ingredients_edit', {'id': rel_recette_ingredient.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_rel_recette_ingredients_new') }}">Create new</a>
{% endblock %}
