{% extends 'base.html.twig' %}

{% block title %}New RelRecetteIngredients{% endblock %}

{% block body %}
    <h1>Create new RelRecetteIngredients</h1>

    {{ include('rel_recette_ingredients/_form.html.twig') }}

    <a href="{{ path('app_rel_recette_ingredients_index') }}">back to list</a>
{% endblock %}
