{% extends 'base.html.twig' %}

{% block title %}RelRecetteIngredients{% endblock %}

{% block body %}
    <h1>RelRecetteIngredients</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rel_recette_ingredient.id }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ rel_recette_ingredient.quantite }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_rel_recette_ingredients_index') }}">back to list</a>

    <a href="{{ path('app_rel_recette_ingredients_edit', {'id': rel_recette_ingredient.id}) }}">edit</a>

    {{ include('rel_recette_ingredients/_delete_form.html.twig') }}
{% endblock %}
