{% extends 'base.html.twig' %}

{% block title %}Unite index{% endblock %}

{% block body %}
    <h1>Unite index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for unite in unites %}
            <tr>
                <td>{{ unite.id }}</td>
                <td>{{ unite.name }}</td>
                <td>
                    <a href="{{ path('app_unite_show', {'id': unite.id}) }}">show</a>
                    <a href="{{ path('app_unite_edit', {'id': unite.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_unite_new') }}">Create new</a>
{% endblock %}
