<form method="post" action="{{ path('app_utensils_delete', {'id': utensil.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ utensil.id) }}">
    <button class="btn">Delete</button>
</form>
