{% extends 'base.html.twig' %}

{% block title %}Edit Utensils{% endblock %}

{% block body %}
    <h1>Edit Utensils</h1>

    {{ include('utensils/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_utensils_index') }}">back to list</a>

    {{ include('utensils/_delete_form.html.twig') }}
{% endblock %}
