{% extends 'base.html.twig' %}

{% block title %}Utensils index{% endblock %}

{% block body %}
    <h1>Utensils index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for utensil in utensils %}
            <tr>
                <td>{{ utensil.id }}</td>
                <td>{{ utensil.name }}</td>
                <td>
                    <a href="{{ path('app_utensils_show', {'id': utensil.id}) }}">show</a>
                    <a href="{{ path('app_utensils_edit', {'id': utensil.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_utensils_new') }}">Create new</a>
{% endblock %}
