{% extends 'base.html.twig' %}

{% block title %}New Utensils{% endblock %}

{% block body %}
    <h1>Create new Utensils</h1>

    {{ include('utensils/_form.html.twig') }}

    <a href="{{ path('app_utensils_index') }}">back to list</a>
{% endblock %}
