{% extends 'base.html.twig' %}

{% block title %}Utensils{% endblock %}

{% block body %}
    <h1>Utensils</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ utensil.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ utensil.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_utensils_index') }}">back to list</a>

    <a href="{{ path('app_utensils_edit', {'id': utensil.id}) }}">edit</a>

    {{ include('utensils/_delete_form.html.twig') }}
{% endblock %}
