<form method="post" action="{{ path('app_instructions_delete', {'id': instruction.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ instruction.id) }}">
    <button class="btn">Delete</button>
</form>
