{% extends 'base.html.twig' %}

{% block title %}Edit Instructions{% endblock %}

{% block body %}
    <h1>Edit Instructions</h1>

    {{ include('instructions/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_instructions_index') }}">back to list</a>

    {{ include('instructions/_delete_form.html.twig') }}
{% endblock %}
