{% extends 'base.html.twig' %}

{% block title %}Instructions index{% endblock %}

{% block body %}
    <h1>Instructions index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for instruction in instructions %}
            <tr>
                <td>{{ instruction.id }}</td>
                <td>{{ instruction.name }}</td>
                <td>
                    <a href="{{ path('app_instructions_show', {'id': instruction.id}) }}">show</a>
                    <a href="{{ path('app_instructions_edit', {'id': instruction.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_instructions_new') }}">Create new</a>
{% endblock %}
