{% extends 'base.html.twig' %}

{% block title %}New Instructions{% endblock %}

{% block body %}
    <h1>Create new Instructions</h1>

    {{ include('instructions/_form.html.twig') }}

    <a href="{{ path('app_instructions_index') }}">back to list</a>
{% endblock %}
