{% extends 'base.html.twig' %}

{% block title %}Instructions{% endblock %}

{% block body %}
    <h1>Instructions</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ instruction.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ instruction.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_instructions_index') }}">back to list</a>

    <a href="{{ path('app_instructions_edit', {'id': instruction.id}) }}">edit</a>

    {{ include('instructions/_delete_form.html.twig') }}
{% endblock %}
