<form method="post" action="{{ path('app_rel_recette_ustensiles_delete', {'id': rel_recette_ustensile.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ rel_recette_ustensile.id) }}">
    <button class="btn">Delete</button>
</form>
