{% extends 'base.html.twig' %}

{% block title %}Edit RelRecetteUstensiles{% endblock %}

{% block body %}
    <h1>Edit RelRecetteUstensiles</h1>

    {{ include('rel_recette_ustensiles/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_rel_recette_ustensiles_index') }}">back to list</a>

    {{ include('rel_recette_ustensiles/_delete_form.html.twig') }}
{% endblock %}
