{% extends 'base.html.twig' %}

{% block title %}RelRecetteUstensiles index{% endblock %}

{% block body %}
    <h1>RelRecetteUstensiles index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantite</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rel_recette_ustensile in rel_recette_ustensiles %}
            <tr>
                <td>{{ rel_recette_ustensile.id }}</td>
                <td>{{ rel_recette_ustensile.quantite }}</td>
                <td>
                    <a href="{{ path('app_rel_recette_ustensiles_show', {'id': rel_recette_ustensile.id}) }}">show</a>
                    <a href="{{ path('app_rel_recette_ustensiles_edit', {'id': rel_recette_ustensile.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_rel_recette_ustensiles_new') }}">Create new</a>
{% endblock %}
