{% extends 'base.html.twig' %}

{% block title %}New RelRecetteUstensiles{% endblock %}

{% block body %}
    <h1>Create new RelRecetteUstensiles</h1>

    {{ include('rel_recette_ustensiles/_form.html.twig') }}

    <a href="{{ path('app_rel_recette_ustensiles_index') }}">back to list</a>
{% endblock %}
