{% extends 'base.html.twig' %}

{% block title %}RelRecetteUstensiles{% endblock %}

{% block body %}
    <h1>RelRecetteUstensiles</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rel_recette_ustensile.id }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ rel_recette_ustensile.quantite }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_rel_recette_ustensiles_index') }}">back to list</a>

    <a href="{{ path('app_rel_recette_ustensiles_edit', {'id': rel_recette_ustensile.id}) }}">edit</a>

    {{ include('rel_recette_ustensiles/_delete_form.html.twig') }}
{% endblock %}
