{% extends 'base.html.twig' %}

{% block title %}Edit UniteCategorie{% endblock %}

{% block body %}
    <h1>Edit UniteCategorie</h1>

    {{ include('unite_categorie/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_unite_categorie_index') }}">back to list</a>

    {{ include('unite_categorie/_delete_form.html.twig') }}
{% endblock %}
