{% extends 'base.html.twig' %}

{% block title %}UniteCategorie index{% endblock %}

{% block body %}
    <h1>UniteCategorie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for unite_categorie in unite_categories %}
            <tr>
                <td>{{ unite_categorie.id }}</td>
                <td>{{ unite_categorie.name }}</td>
                <td>
                    <a href="{{ path('app_unite_categorie_show', {'id': unite_categorie.id}) }}">show</a>
                    <a href="{{ path('app_unite_categorie_edit', {'id': unite_categorie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_unite_categorie_new') }}">Create new</a>
{% endblock %}
