{% extends 'base.html.twig' %}

{% block title %}New UniteCategorie{% endblock %}

{% block body %}
    <h1>Create new UniteCategorie</h1>

    {{ include('unite_categorie/_form.html.twig') }}

    <a href="{{ path('app_unite_categorie_index') }}">back to list</a>
{% endblock %}
