{% extends 'base.html.twig' %}

{% block title %}UniteCategorie{% endblock %}

{% block body %}
    <h1>UniteCategorie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ unite_categorie.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ unite_categorie.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_unite_categorie_index') }}">back to list</a>

    <a href="{{ path('app_unite_categorie_edit', {'id': unite_categorie.id}) }}">edit</a>

    {{ include('unite_categorie/_delete_form.html.twig') }}
{% endblock %}
